
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: url(''); /* Remplacez par l'URL de l'image de fond One Piece */
    background-color: rgb(243, 243, 243);
    background-size: contain;
    background-repeat: no-repeat;
    color: black;
    text-align: center;
    margin: 0;
}




























h1 {
    font-size: 5em;
    margin-bottom: 0.5em;
    margin-top: 500px;
}
p.description {
    font-size: 1.5em;
    margin-bottom: 500px;
}





























/** footer **/
/** Animation d'apparition **/
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/** Styles du footer **/
.footer {
    display: flex;
    justify-content: space-between;
    padding: 150px 400px 150px 50px;
    font-size: 18px;
    opacity: 0; /* Opacité initiale */
    transform: translateY(20px); /* Position initiale */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Transitions supplémentaires si nécessaire */
    background-color: white;
    margin-top: 150px;
}

/** Styles pour le footer avec animation **/
.footer.animate {
    opacity: 1; /* Assure que la section est complètement visible */
    transform: translateY(0); /* Réinitialise la position */
    animation: fadeInUp 0.5s ease-out forwards; /* Propriétés de l'animation */
}

.footer p {
    font-weight: 300;
    color: rgb(116, 116, 116);
    cursor: pointer;
    transition: 0.1s;
    margin-bottom: 30px;
}

.footer p:hover {
    color: rgb(165, 165, 165);
}

.bold-footer p {
    font-weight: bold;
    margin-bottom: 30px;
    color: rgb(56, 56, 56);
    pointer-events: none;
}

.footer-oneshirt-logo img {
    height: 50px; 
    width: 150px;
    object-fit: cover;
    margin-left: -18px;
}


/* Pour les petits écrans */
@media (max-width: 767px) {
    .footer {
        flex-direction: column; /* Empiler les colonnes verticalement */
        align-items: center;
        padding: 20px; /* Ajuster le padding pour les petits écrans */
        font-size: 16px; /* Réduire la taille de la police pour plus d'espace */
    }

    .footer-logos {
        margin-bottom: 20px; /* Espacement sous les logos pour séparer des autres sections */
    }

    .footer-usecases, .footer-explore, .footer-ressources {
        margin: 0; /* Supprimer les marges latérales */
        text-align: center; /* Centrer le texte pour les petits écrans */
    }

    .bold-footer p {
        font-size: 18px; /* Réduire la taille du titre pour les petits écrans */
        margin-bottom: 10px; /* Réduire l'espace sous le titre */
    }

    .footer p {
        font-size: 14px; /* Réduire la taille de la police des éléments */
        margin: 5px 0; /* Ajouter un espace vertical entre les éléments */
    }
}
